body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f6f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.app {
  position: relative;
  top: 13vh;
  display: flex;
  justify-content: space-around;
  background-color: #f5f6f9;
  overflow-x: hidden;
}
@media (max-width: 1010px) {
  .app {
    flex-direction: column;
  }
}

.header-icons {
  margin: 0 10px;
  font-size: 13px;
}

.vital h6 {
  margin: 0 0 15px 0;
}
.side-image {
  width: 150px;
  height: 450px;
  position: absolute;
}
